<h5>{{ title }}</h5>
<div class="row">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()">

    <div class="row">
      <div class="input-field col s12">
        <label class="control-label" for="nome">Nome</label>
        <input type="text" class="form-control" name="nome" id="nome" [(ngModel)]="user.nome" ngControl="nome">
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <label class="control-label" for="nome">Descrição</label>
        <input type="text" class="form-control" name="descricao" id="descricao" [(ngModel)]="user.descricao" ngControl="descricao">
      </div>
    </div>

    <div class="row">

      <label class="control-label" for="nome">Data de Validade</label>
        <input type="text" class="form-control" name="datadevalidade" id="datadevalidade" [(ngModel)]="user.datadevalidade" ngControl="datadevalidade">

    </div>
    <!--<button class="btn waves-effect waves-light" type="submit">Cadastrar</button>-->

    <button class="btn btn-success"  (click)="addUser()">
                Cadastrar
            </button>
  </form>
</div>
