<form [formGroup]="form" (ngSubmit)="save()" class="form-horizontal">
  
  <div class="form-group">
    
    <div class="col-sm-12">
      <label for="nome" class="control-label">Nome</label>
    </div>

    <div class="col-sm-12">
      <input type="text" class="form-control" formControlName="nome" id="nome" placeholder="Nome" [(ngModel)]="promocao.nome" ngControl="nome">
    </div>

  </div> 
  
  <div class="form-group">

    <div class="col-sm-12">
        <label for="descricao" class="control-label">Descricao</label>
    </div>
  
    <div class="col-sm-12">
      <input type="text" class="form-control" formControlName="descricao" id="descricao" placeholder="Descricao" [(ngModel)]="promocao.descricao" ngControl="descricao">
    </div>

  </div>

  <div class="form-group">

    <div class="col-sm-12">
        <label for="valor_promocao" class="control-label">Valor Promocao</label>
    </div>
  
    <div class="col-sm-12">
      <input type="text" class="form-control" formControlName="valor_promocao" id="valor_promocao" placeholder="Valor Promocao" [(ngModel)]="promocao.valor_promocao" ngControl="valor_promocao">
    </div>

  </div>

  <div class="form-group">
    
    <div class="col-sm-12">
        <label for="dataValidade" class="control-label">Data de Validade</label>
    </div>
  
    <div class="col-sm-12">
      <input type="text" class="form-control" formControlName="dataValidade" id="dataValidade" placeholder="Data de Validade" [(ngModel)]="promocao.dataValidade" ngControl="dataValidade">
    </div>

  </div>

  <div class="form-group">

    <div class="col-sm-12">
        <label for="capa" class="control-label">Capa Imagem</label>
    </div>
  
    <div class="col-sm-12">
      <input type="text" class="form-control" formControlName="capa" id="capa" placeholder="Capa Imagem" [(ngModel)]="promocao.capa" ngControl="capa">
    </div>

  </div>

  <div class="form-group">

    <div class="col-sm-12">
        <label for="status" class="control-label">Status</label>
    </div>
  
    <div class="col-sm-12">
      <input type="text" class="form-control" formControlName="status" id="status" placeholder="Status" [(ngModel)]="promocao.status" ngControl="status">
    </div>

  </div>

  <div class="form-group">
    
    <div class="col-sm-12">
        <label for="categoria" class="control-label">Categoria</label>
    </div>
  
    <div class="col-sm-12">
      <input type="text" class="form-control" formControlName="categoria" id="categoria" placeholder="Categoria" [(ngModel)]="promocao.categoria" ngControl="categoria">
    </div>
    
  </div>

  <div class="form-group">
    
    <div class="col-sm-12">
      <label for="fornecedor" class="control-label">Fornecedor</label>
    </div>
      
    <div class="col-sm-12">
      <input type="text" class="form-control" formControlName="fornecedor" id="fornecedor" placeholder="Fornecedor" [(ngModel)]="promocao.fornecedor" ngControl="fornecedor">
    </div>
    
  </div>    
    
  <button class="btn btn-success" (click)="addPromocao">Enviar</button>

</form>
