

    <form #f="ngForm" (ngSubmit)="onSubmit(f)" >
      <div class="form-group">
        <label for="nome">Titulo da Promoção</label>
        <input type="text" class="form-control" id="nome" placeholder="Título" name="nome" ngModel>
      </div>

      <div class="form-group">
        <label for="descricao">Descrição</label>
        <textarea name="descricao" class="form-control" id="descricao" rows="5" cols="40" placeholder="Descreva sua promoção..." name="descricao" ngModel></textarea>
      </div>

      <div class="form-group">
          <label for="valor">Valor da Promoção</label>
          <input type="text" class="form-control" id="valor" placeholder="Valor da promoção" name="valor_promocao" ngModel>
        </div>

      <div class="form-group">
        <label for="dataValidade">Data de Validade</label>
        <input type="text" class="form-control" id="dataValidade" placeholder="DD/MM/AAAA" name="dataValidade" ngModel>
      </div>

      <div class="form-group">
          <label for="fornecedor">Fornecedor</label>
          <select class="form-control form-control-lg" id="fornecedor" placeholder="Selecione o fornecedor" name="fornecedor" ngModel>
            <option>Selecione o fornecedor</option>
            <option *ngFor="let fornecedor of fornecedores">{{fornecedor.nome}}</option>
          </select>
      </div>

      <div class="form-group">
      <label for="fornecedor">Categoria</label>
      <select class="form-control form-control-lg" id="categoria" placeholder="Selecione sua categoria" name="categoria" ngModel>
        <option>Selecione a categoria</option>
        <option *ngFor="let categoria of categorias">{{categoria.nome}}</option>
      </select>
      </div>

      <div class="form-group">
        <label for="fornecedor">Status da promoção</label>
        <select class="form-control form-control-lg" id="status" placeholder="Ativar promoção?" name="status" ngModel>
          <option>on</option>
          <option>off</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
