

    <form #f="ngForm" (ngSubmit)="onSubmit(f)" >
      <div class="form-group">
        <label for="nome">Titulo da Promoção</label>
        <input type="text" class="form-control" id="nome" placeholder="Título" name="nome" ngModel>
      </div>

      <div class="form-group">
        <label for="descricao">Descrição</label>
        <textarea name="descricao" class="form-control" id="descricao" rows="5" cols="40" placeholder="Descreva sua promoção..." name="descricao" ngModel></textarea>
      </div>

      <div class="form-group">
          <label for="valor">Valor da Promoção</label>
          <input type="text" class="form-control" id="valor" placeholder="Valor da promoção" name="valor_promocao" ngModel>
        </div>

      <div class="form-group">
        <label for="dataValidade">Data de Validade</label>
        <input type="text" class="form-control" id="dataValidade" placeholder="DD/MM/AAAA" name="dataValidade" ngModel>
      </div>

      <div class="form-group">
          <label for="fornecedor">Fornecedor</label>
          <input type="text" class="form-control" id="fornecedor" placeholder="fornecedor" name="fornecedor" ngModel>
      </div>

      <div class="form-group">
      <label for="fornecedor">Categoria</label>
      <select class="form-control form-control-lg" id="categoria" placeholder="Selecione sua categoria" name="categoria" ngModel><option>Large select</option></select>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
