<div class="container">
  <div class="col-md-12">
    <div class="col-md-10">
        <form>
          <h6 class="text-center text-primary">Entre no akicupom usando:</h6>
          <a href="#" class="btn btn-danger btn-lg btn-block">Google</a>
          <br/>      
          <a href="#" class="btn btn-primary btn-lg btn-block">facebook</a>
          <br/>      
          <a href="#" class="btn btn-info btn-lg btn-block">twitter</a>
          <br/>      
           <h6 class="text-center text-primary">ou entre com seu email:</h6>
             <hr>
             <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite seu Email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite sua Senha">
          </div>
          <hr>
          <a href="#"type="submit" class="btn btn-warning btn-lg btn-block">Login</a> 
          <hr>
          <p class="text-right"><a href="#">Esqueci a senha!</a></p>
          <p class="text-right"><a routerLink="/cadastrar">Cadastre-se</a></p>        
        </form>
    </div>
  </div>
</div>
