
<div class="container-fluid display-table">
  <div class="row display-table-row">
      <div class="col-md-10 col-sm-11 display-table-cell v-align">
          <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
          <div class="row">
              <header>
                  <div class="chip">
                      <i class="view_module"></i>
                      Mostrando {{ promocoes.length }} promoções.
                    </div>
              </header>
          </div>
          <div class="user-dashboard">
              <h1>Olá, Usuário </h1>
              <div class="row">
                  <div class="col-md-5 col-sm-5 col-xs-12 gutter">

                      <div class="sales">
                          <h2>Últimas promoções</h2>
                      </div>

                      <table class="table">
                        <thead >
                            <tr>
                                <th><i>Promoção</i></th>
                                <th><i>Descricao</i></th>
                                <th><i>Data de Validade</i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let promocao of promocoes">
                                <td>{{ promocoes.nome }}</td>
                                <td>{{ promocao.descricao }}</td>
                                <td>{{ promocao.dataValidade }}</td>
                  
                            </tr>
                        </tbody>
                    </table>  

                  </div>
                  <div class="col-md-7 col-sm-7 col-xs-12 gutter">

                      <div class="sales report">
                          <h2>Melhores Promoções</h2>
                      </div>
                  </div>
                  <div class="col-md-5">
                    <div class="header-rightside">
                        <ul class="list-inline header-top">
                            <li class="hidden-xs"><a routerLink="/promocoes/new" class="add-project">Nova promoção</a></li>
                        </ul>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </div>

</div>