<nav class="navbar navbar-inverse navbar-fixed-top ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">
        <img class="img-responsive" src="src/assets/logoverde-mini3.png" />
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">


      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="">Seja Parceiro</a></li>
        <li><a routerLink="/login-usuario">Entre | Cadastre-se   <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right" role="search">
        <li>
          <input id="search" placeholder="Procure promoções!">

        </li>
        <li>
          <button routerLink="/busca" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </li>
      </ul>

    </div>
  </div>
</nav>