<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        No Akicupom você encontra incríveis ofertas e adquire cupons de desconto de forma gratuita. Não precisa pagar nada para usar os seus cupons e obter até 60% de desconto em supermercados, restaurantes e muito mais. Para utilizar seu cupom de desconto da Akicupom, basta você escolher uma de nossas milhares de ofertas e clicar em “Pegar Cupom". Pronto! Seu cupom de desconto já está em seu e-mail ou celular. Para usar, basta ir até o estabelecimento e mostrar seu cupom. Simples assim.  E se for uma loja online ou delivery? Tudo o que precisa é acessar o site do anunciante e usar o código na hora de concluir a compra.
      </div>

       <div class="col l3 s12 right">
      <h5 class="white-text">Akicupom</h5>
      <ul>
            <li><a class="white-text" href="#!">Blog</a></li>
            <li><a routerLink="termos-de-uso" class="white-text" href="#!">Termos de uso</a></li>
            <li><a routerLink="como-usar-cupom" class="white-text" href="#!">Como usar o cupom</a></li>
            <li><a routerLink="perguntas-frequentes" class="white-text" href="#!">Perguntas frequentes (FAQ)</a></li>
            <li><a class="white-text" href="#!">Seja nosso parceiro</a></li>
            <li><a class="white-text" href="#!">Fale conosco</a></li>
          </ul>
    </div>
    </div> 
  </div>
</footer>
  <div class="footer-copyright orange darken-2">
            <div class="container">
            <p class="text-center">© 2017 Akicupom todos os direitos reservados</p>
            </div>
  </div>