 <footer class="page-footer orange">
  <div class="container">
    <div class="row">

       <div class="col-sm-6">
      <h5 style="color: #02044E">Institucional</h5>
      <ul>
            <li><a class="white-text" href="#!">Blog</a></li>
            <li><a routerLink="termos-de-uso" class="white-text" href="#!">Termos de uso</a></li>
            <li><a routerLink="como-usar-cupom" class="white-text" href="#!">Como usar o cupom</a></li>
            <li><a routerLink="perguntas-frequentes" class="white-text" href="#!">Perguntas frequentes (FAQ)</a></li>
            <li><a class="white-text" href="#!">Seja nosso parceiro</a></li>
            <li><a class="white-text" href="#!">Fale conosco</a></li>
          </ul>
    	</div>
    	
    	<div class="col-sm-6">
    	<div class="fb-page" data-href="https://www.facebook.com/facebook" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div></div>
      	</div>

      	
    </div> 
  </div>
</footer>
  <div class="footer-copyright orange darken-2">
            <div class="container">
            <p class="text-center">© 2017 Akicupom todos os direitos reservados</p>
            </div>
  </div>