<footer class="navbar-fixed-bottom">
  <div class="container">
    <div class="col-md-4">
      <h2>Example body text</h2>
      <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
      <p><small>This line of text is meant to be treated as fine print.</small></p>
      <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
      <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
      <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="fb-page" data-href="https://www.facebook.com/arkonarussia/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/arkonarussia/" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/arkonarussia/">Arkona</a>
        </blockquote>
        </div>
    </div>
  </div>
</footer>